:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ---------------------------above is vite default------------------------------- */

/* ---------------------------styles------------------------------- */
/* font-family: 'Maitree', serif;
normal at weight 400
bold at weight 700
to be to be used  

colors:
#DBF0EF -- light teal
#97DAE8 -- light blue
#C0C8F0 -- light purple

bonus colors put here */

*{
  font-family: 'Maitree', serif;
}

/* ---------------------------styles------------------------------- */

li {
  list-style: none;
}

.results {
  border: 2px solid black;
  margin-bottom: 20px;
  max-width: 30vw;
}

.eventName {
  font-size: 25px;
}

.eventImg {
/* look into constraining img to box */
max-width: 100%;
}

.eventDate {
  font-style: italic;
}

.minPrice {

}

.maxPrice {

}

.eventLocation {
  font-weight: bold;
}



.flexSearchContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.orHighlite{
  background-color:#C0C8F0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.orHighlite p{
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}